*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */
:root {
    --accent-color: #ff3400;
    --body-color: #918ca4;
    --border-color: #ccc;
    --heading-color: #1b0760;
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--body-color);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

/* Links */
.link {
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.learn-more::after {
    content: "-->";
    font-weight: normal;
    margin-left: 5px;
    transition: margin 0.1s linear;
}

.learn-more:hover::after {
    margin-left: 10px;
}

/* Badges */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge-small {
    font-size: 1.6rem;
}

.badge-primary {
    background-color: var(--primary-color);
    color: white;
}

.badge-secondary {
    background-color: var(--secondary-color);
    color: white;
}

/* Lists */
.list {
    color: var(--heading-color);
    list-style: none;
    padding-left: 0;
}

.list-inline .list-item {
    display: inline-block;
    margin-right: 2rem;
}

.list-tick {
    list-style-image: url("../images/tick.svg");
    padding-left: 3rem;
}

.list-tick .list-item {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon-primary {
    fill: var(--primary-color);
}

.icon-container {
    align-items: center;
    background-color: #f3f9fa;
    border-radius: 50%;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}
/* The rest of the icon styles will be created as i go through the project */

/* Buttons */
.btn {
    background-color: white;
    border-radius: 40px;
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline-color: inherit;
    padding: 2rem 4vw;
    text-transform: uppercase;
    transition: background-color 0.15s linear, border-color 0.15s linear;
    white-space: nowrap;
    width: fit-content;
}

.btn-primary {
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.btn-accent {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.btn-block {
    width: 100%;
    display: inline-block;
}

.btn-primary:hover {
    background-color: var(--heading-color);
    color: white;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-accent:hover {
    background-color: #ec3000;
    border-color: #ec3000;
}

/* Inputs */
.input {
    border-radius: 30px;
    border: 1px solid var(--border-color);
    color: var(--heading-color);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 2.5rem;
}

::placeholder {
    color: #cdcbd7;
}

/* Input Groups */
.input-group {
    border-radius: 30px;
    border: 1px solid var(--border-color);
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}

/* Responsiveness queries */
@media screen and (min-width: 1024px) {
    /* Typography */
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    /* Links */
    .link {
        font-size: 1.5rem;
    }

    /* Badges */
    .badge {
        font-size: 1.5rem;
    }

    .badge-small {
        font-size: 1.2rem;
    }

    /* Lists */
    .list-tick .list-item {
        padding-left: 0;
    }

    /* Icons */

    /* Buttons */
    .btn {
        font-size: 1.5rem;
    }

    /* Inputs */
    .input {
        font-size: 1.5rem;
    }
}
